
body{
    margin: 0;
    padding: 0;
    background-image: url('bgg.jpg');
    background-size: cover;

}
.pic{
    width:88%;
    position:relative;
    top:80px;
    left:5%;
    height:200px;
    background-color: rgba(127, 255, 212, 0);
    padding:0px 40px 30px 40px;
}
#book{
    display: inline-block;
    margin:0px 30px;
    height:200px;
    width:140px;
    border-radius:0px;
    border:5px solid rgba(255, 255, 0, 0);
}
#book:hover{
    border:5px solid yellow;
    border-radius: 5px;
}
H3{
    
    position:relative;
    text-align: center;
    top:20px;
    text-decoration: wavy;
    letter-spacing: 5px;;
    font-size:45px;
    font-family: 'Lucida Handwriting', cursive;
   
}
#quote{
    position: relative;
    height:10%;
    bottom:20%;
    text-align:center;
    
}
.head{
    color:white;
    height:120px;
    background-color: black;
    width:700px;
    position:relative;
    left:20%;
    top:5px;
    opacity:70%;
    border-radius: 90px;
}
 
#a{
    position: relative;
    
    background-color: antiquewhite;
    height:30%;
    width:50%;
}
